INCLUDE options/options.makejail

ARG apache_with_php=0
ARG apache_php_version=%%PHP3%%

PKG apache24

RAW if [ "${apache_with_php}" != 0 ]; then
    RAW case "${apache_php_version}" in
    RAW     %%PHP1%%|%%PHP2%%|%%PHP3%%) ;;
    RAW     *) echo "VALID VERSIONS: %%PHP1%%, %%PHP2%%, %%PHP3%%"; exit 1 ;;
    RAW esac

    PKG mod_php${apache_php_version}

    COPY usr
RAW fi
